<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link rel="stylesheet" as="style" onload="this.rel='stylesheet'"
        href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Public+Sans%3Awght%40400%3B500%3B700%3B900" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">
    <link rel="stylesheet" href="/styles/profile.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"></script>
    <script defer src="/src/profile.js"></script>
    <title>AgriHub | Connecting farmers to retailers</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</head>

<body>

    <%- include("../includes/navbar.ejs") %>


        <main>
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">DETAILS MENU</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <aside>
                        <ul class="Links">
                            <li onclick="Navigate(0)" class="activeLink"><i class="fa-solid fa-user"></i>
                                <p>profile</p>
                            </li>
                            <li onclick="Navigate(1)"><i class="fa-solid fa-house"></i>
                                <p>About Me</p>
                            </li>
                            <!-- <li onclick="Navigate(2)"><i class="fa-solid fa-list"></i>
                                <p>Services</p>
                            </li>
                            <li onclick="Navigate(3)"><i class="fa-solid fa-images"></i>
                                <p>Gallery</p>
                            </li>
                            <li onclick="Navigate(4)"><i class="fa-solid fa-comments"></i>
                                <p>Contact Me</p>
                            </li> -->
                        </ul>
                    </aside>
                </div>
            </div>




            <div class="swiper mySwiper">

                <button class="btn siderbar-show-btn" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                    <i class="fa-solid fa-bars"></i>
                </button>


                <div class="SlideContainer swiper-wrapper">
                    <div class="swiper-slide home-slide">
                        <div class="relative flex size-full min-h-screen flex-col bg-[#f8fbf8] group/design-root overflow-x-hidden"
                            style='font-family: "Public Sans", "Noto Sans", sans-serif;'>
                            <div class="layout-container flex h-full grow flex-col">
                                <header
                                    class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#e8f3e8] px-10 py-3">
                                    <div class="flex items-center gap-4 text-[#0e1b0e]">
                                        <!-- <div class="size-4">
                                        <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path
                                            d="M24 45.8096C19.6865 45.8096 15.4698 44.5305 11.8832 42.134C8.29667 39.7376 5.50128 36.3314 3.85056 32.3462C2.19985 28.361 1.76794 23.9758 2.60947 19.7452C3.451 15.5145 5.52816 11.6284 8.57829 8.5783C11.6284 5.52817 15.5145 3.45101 19.7452 2.60948C23.9758 1.76795 28.361 2.19986 32.3462 3.85057C36.3314 5.50129 39.7376 8.29668 42.134 11.8833C44.5305 15.4698 45.8096 19.6865 45.8096 24L24 24L24 45.8096Z"
                                            fill="currentColor"
                                          ></path>
                                        </svg>
                                        </div>
                                        <h2 class="text-[#0e1b0e] text-lg font-bold leading-tight tracking-[-0.015em]">Farmers Market</h2> -->
                                    </div>
                                    <div class="flex flex-1 justify-end gap-8">
                                        <div class="flex items-center gap-9">
                                            <!-- <a class="text-[#0e1b0e] text-sm font-medium leading-normal" href="#">Browse</a> -->
                                            <a class="text-[#0e1b0e] text-sm font-medium leading-normal"
                                                href="#">Sell</a>
                                            <a class="text-[#0e1b0e] text-sm font-medium leading-normal"
                                                href="#">Orders</a>
                                            <a class="text-[#0e1b0e] text-sm font-medium leading-normal"
                                                href="#">Help</a>
                                        </div>
                                        <div class="flex gap-2">
                                            <!-- <button class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 bg-[#e8f3e8] text-[#0e1b0e] gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5" >
              <div class="text-[#0e1b0e]" data-icon="MagnifyingGlass" data-size="20px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
                  ></path>
                </svg>
              </div>
            </button>
            <button
              class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 bg-[#e8f3e8] text-[#0e1b0e] gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
            >
              <div class="text-[#0e1b0e]" data-icon="ShoppingCart" data-size="20px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M222.14,58.87A8,8,0,0,0,216,56H54.68L49.79,29.14A16,16,0,0,0,34.05,16H16a8,8,0,0,0,0,16h18L59.56,172.29a24,24,0,0,0,5.33,11.27,28,28,0,1,0,44.4,8.44h45.42A27.75,27.75,0,0,0,152,204a28,28,0,1,0,28-28H83.17a8,8,0,0,1-7.87-6.57L72.13,152h116a24,24,0,0,0,23.61-19.71l12.16-66.86A8,8,0,0,0,222.14,58.87ZM96,204a12,12,0,1,1-12-12A12,12,0,0,1,96,204Zm96,0a12,12,0,1,1-12-12A12,12,0,0,1,192,204Zm4-74.57A8,8,0,0,1,188.1,136H69.22L57.59,72H206.41Z"
                  ></path>
                </svg>
              </div>
            </button> -->
                                        </div>
                                    </div>
                                </header>
                                <% for(details of profileDetails) { %>
                                    <div class="px-40 flex flex-1 justify-center py-5">
                                        <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
                                            <div class="flex p-4 @container">
                                                <div
                                                    class="flex w-full flex-col gap-4 @[520px]:flex-row @[520px]:justify-between @[520px]:items-center">
                                                    <div class="flex gap-4">
                                                        <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full min-h-32 w-32"
                                                            style='background-image: url("<%= details.profilepicture.url %>");'>
                                                        </div>
                                                        <div class="flex flex-col justify-center">
                                                            <p
                                                                class="text-[#0e1b0e] text-[22px] font-bold leading-tight tracking-[-0.015em]">
                                                                <%= details.username %>
                                                            </p>
                                                            <p
                                                                class="text-[#509550] text-base font-normal leading-normal">
                                                                <%= details.email %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h2
                                                class="text-[#0e1b0e] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">
                                                <%= details.role %> Profile
                                            </h2>
                                            <p
                                                class="text-[#0e1b0e] text-base font-normal leading-normal pb-3 pt-1 px-4">
                                                Your public profile will be visible to buyers when they view your
                                                products. Buyers will also see the contact information you provide
                                                below.
                                            </p>
                                            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                                                <label class="flex flex-col min-w-40 flex-1">
                                                    <p class="text-[#0e1b0e] text-base font-medium leading-normal pb-2">
                                                        Email
                                                    </p>
                                                    <input placeholder="<%= details.email %>"
                                                        class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#0e1b0e] focus:outline-0 focus:ring-0 border-none bg-[#e8f3e8] focus:border-none h-14 placeholder:text-[#509550] p-4 text-base font-normal leading-normal"
                                                        value="" />
                                                </label>
                                            </div>
                                            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                                                <label class="flex flex-col min-w-40 flex-1">
                                                    <p class="text-[#0e1b0e] text-base font-medium leading-normal pb-2">
                                                        Phone Number</p>
                                                    <input placeholder="<%= details.mobilenumber %>"
                                                        class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#0e1b0e] focus:outline-0 focus:ring-0 border-none bg-[#e8f3e8] focus:border-none h-14 placeholder:text-[#509550] p-4 text-base font-normal leading-normal"
                                                        value="" />
                                                </label>
                                            </div>
                                            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                                                <label class="flex flex-col min-w-40 flex-1">
                                                    <p class="text-[#0e1b0e] text-base font-medium leading-normal pb-2">
                                                        Location</p>
                                                    <input placeholder="<%= details.location %>"
                                                        class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#0e1b0e] focus:outline-0 focus:ring-0 border-none bg-[#e8f3e8] focus:border-none h-14 placeholder:text-[#509550] p-4 text-base font-normal leading-normal"
                                                        value="" />
                                                </label>
                                            </div>
                                            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                                                <label class="flex flex-col min-w-40 flex-1">
                                                    <p class="text-[#0e1b0e] text-base font-medium leading-normal pb-2">
                                                        country</p>
                                                    <input placeholder="<%= details.country %>"
                                                        class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#0e1b0e] focus:outline-0 focus:ring-0 border-none bg-[#e8f3e8] focus:border-none h-14 placeholder:text-[#509550] p-4 text-base font-normal leading-normal"
                                                        value="" />
                                                </label>
                                            </div>
                                            <div class="flex px-4 py-3 justify-start">
                                                <a href="/profile/<%= currUser._id %>/edit">
                                                    <button
                                                        class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#20df20] text-[#0e1b0e] text-sm font-bold leading-normal tracking-[0.015em]">
                                                        <span class="truncate">Edit</span>
                                                    </button>
                                                </a>
                                                &nbsp;
                                                <a href="/logout">
                                                    <button
                                                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[red] text-[#fff] text-sm font-bold leading-normal tracking-[0.015em]">
                                                        <span class="truncate">Logout</span>
                                                    </button>
                                                </a>
                                            </div>

                                            <!-- <form action="/logout"></form> -->
                                            

                                        </div>
                                    </div>
                                    <% }; %>
                            </div>
                        </div>



                    </div>
                    <div class="swiper-slide">
                        <div class="about-us">
                            <h1 class="heading">About Me</h1>
                            <h3 class="sub-heading">I'm Muzammal, <span class="proffesions">A Web Developer</span></h3>
                            <p class="aboutme-deatils">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iure, iste debitis unde
                                maiores earum, ipsam quaerat quo magni sunt nisi at ullam nostrum pariatur soluta
                                mollitia
                                omnis consectetur qui similique doloribus vitae sit est in modi. Officia libero, animi
                                repellendus debitis labore ipsa exercitationem ut ex. Natus ullam officiis qui fuga
                                optio
                                incidunt, ipsum atque ducimus quas ad eveniet nulla sit consectetur velit inventore
                                possimus
                                quae provident, repudiandae eaque sed quos mollitia omnis error. Hic animi porro
                                asperiores
                                ratione voluptatibus commodi, architecto officia nobis ducimus sint, placeat enim? Ab
                                obcaecati ad provident et possimus. Ullam ipsa laborum sint autem!
                            </p>
                            <div class="about-me-divison">
                                <div class="about-me-table">
                                    <li><span>Experience:</span> 5+ years</li>
                                    <li><span>Country:</span> Pakistan</li>
                                    <li><span>Avability:</span> 24/7 </li>
                                    <li><span>Satisfied Clients:</span>200+</li>
                                    <li><span>Age</span>:20</li>
                                    <li><span>Phone</span>:123-456-7890</li>
                                    <li><span>Language Used:</span>HTML</li>
                                    <li><span>Degree</span>:CS</li>
                                    <div class="buttonGroup"><button>Hire Me</button><button>Contact Me</button></div>
                                </div>

                                <div class="skill-bar">
                                    <li>
                                        <p>HTML</p>
                                        <div class="bar">
                                            <div class="active-bar" style="width:99%"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>CSS</p>
                                        <div class="bar">
                                            <div class="active-bar" style="width:80%"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>JavaScript</p>
                                        <div class="bar">
                                            <div class="active-bar" style="width:85%"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>Python</p>
                                        <div class="bar">
                                            <div class="active-bar" style="width:50%"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>Django</p>
                                        <div class="bar">
                                            <div class="active-bar" style="width:60%"></div>
                                        </div>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="swiper-slide services"> -->
<!--  -->
                        <!-- <h1 class="heading">Services</h1> -->
                        <!-- <div class="service"> -->
                            <!-- <div class="service-icon"><i class="fa-solid fa-pen-ruler"></i></div> -->
                            <!-- <h2>Web Design</h2> -->
                            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, quod.</p> -->
                        <!-- </div> -->
                        <!-- <div class="service"> -->
                            <!-- <div class="service-icon"><i class="fa-solid fa-globe"></i></div> -->
                            <!-- <h2>Web Development</h2> -->
                            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, quod.</p> -->
                        <!-- </div> -->
                        <!-- <div class="service"> -->
                            <!-- <div class="service-icon"><i class="fa-solid fa-magnifying-glass"></i></div> -->
                            <!-- <h2>SEO</h2> -->
                            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, quod.</p> -->
                        <!-- </div> -->
                        <!-- <div class="service"> -->
                            <!-- <div class="service-icon"><i class="fa-solid fa-image"></i></div> -->
                            <!-- <h2>Graphic Designer</h2> -->
                            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, quod.</p> -->
                        <!-- </div> -->
                        <!-- <div class="service"> -->
                            <!-- <div class="service-icon"><i class="fa-solid fa-mobile-screen-button"></i></div> -->
                            <!-- <h2>Software Developer</h2> -->
                            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, quod.</p> -->
                        <!-- </div> -->
                        <!-- <div class="service"> -->
                            <!-- <div class="service-icon"><i class="fa-solid fa-database"></i></div> -->
                            <!-- <h2>Database Admin</h2> -->
                            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, quod.</p> -->
                        <!-- </div> -->
                    <!-- </div> -->
                    <!-- <div class="swiper-slide gallery"> -->
                        <!-- <h1 class="heading">Gallery</h1> -->
                        <!-- <div class="project"><img src="https://picsum.photos/200/300?random=1" alt=""></div> -->
                        <!-- <div class="project"><img src="https://picsum.photos/200/300?random=2" alt=""></div> -->
                        <!-- <div class="project"><img src="https://picsum.photos/200/300?random=3" alt=""></div> -->
                        <!-- <div class="project"><img src="https://picsum.photos/200/300?random=4" alt=""></div> -->
                        <!-- <div class="project"><img src="https://picsum.photos/200/300?random=5" alt=""></div> -->
                        <!-- <div class="project"><img src="https://picsum.photos/200/300?random=6" alt=""></div> -->
                    <!-- </div> -->
                    <!-- <div class="swiper-slide contactMe"> -->
                        <!-- <h1 class="heading">Contact Me</h1> -->
                        <!-- <div class="contactinfo"><i class="fa-solid fa-phone"></i> -->
                            <!-- <h3>Mobile No</h3> -->
                            <!-- <p>123-456-7890</p> -->
                        <!-- </div> -->
                        <!-- <div class="contactinfo"><i class="fa-solid fa-location-dot"></i> -->
                            <!-- <h3>Location</h3> -->
                            <!-- <p>Somewhere On Earth</p> -->
                        <!-- </div> -->
                        <!-- <div class="contactinfo"><i class="fa-regular fa-envelope"></i> -->
                            <!-- <h3>Email</h3> -->
                            <!-- <p>abc123@gmail.com</p> -->
                        <!-- </div> -->
                        <!-- <div class="contactinfo"><i class="fa-solid fa-globe"></i> -->
                            <!-- <h3>Website</h3> -->
                            <!-- <p>www.abc123.com</p> -->
                        <!-- </div> -->
                        <!-- <form> -->
                            <!-- <h2>Send Me A Message <div class="SocialLinks"> -->
                                    <!-- <i class="fa-brands fa-codepen"></i> -->
                                    <!-- <i class="fa-brands fa-instagram"></i> -->
                                    <!-- <i class="fa-brands fa-twitter"></i> -->
                                    <!-- <i class="fa-brands fa-twitter"></i> -->
                                    <!-- <i class="fa-brands fa-facebook"></i> -->
                                <!-- </div> -->
                            <!-- </h2> -->
                            <!-- <input type="text" placeholder="Name"> -->
                            <!-- <input type="text" placeholder="email"> -->
                            <!-- <textarea rows="10" placeholder="Type your Message Here..."></textarea> -->
                            <!-- <button class="primary">Send</button> -->
<!--  -->
                        <!-- </form> -->
                        <!-- <footer> -->
                            <!-- <li>Copyright © 2023 Muzammal.</li> -->
                        <!-- </footer> -->
                    <!-- </div> -->
                </div>
        </main>


</body>

</html>